<h1>SSG API, Ruby on Rails version.</h1>
<p>Available Objects</p>
<ul>
	<a href="http://api.studiosleepygiraffe.com/projects/"><li>Projects</li></a>
	<a href="http://api.studiosleepygiraffe.com/logs/"><li>Dev Logs</li></a>
	<li><a href="http://api.studiosleepygiraffe.com/posts/">Posts</a>
		<ul>
			<a href="http://api.studiosleepygiraffe.com/posts/tags/"><li>Tags</li></a>
		</ul>
	</li>
</ul>
