{% extends "ssg.html" %}
{% block content %}
<div class="about_content narrow-content">
	<div class="about_text">
		<h1 style="text-align:  center;" >The mind behind Studio Sleepy Giraffe</h1>
		<img class="about_picture" src="/static/face.jpeg"/>
		<p>I am Toben "Narcolapser" Archer. I work as a software developer by day and the same by night as a hobby. At home I work primarily in Python and Kivy making apps for Android and PC. This website is setup primarily as a professional website. It is here so that I can point potential employeers or partners to something to get a little information about me.</p>
	</div>
</div>
{% endblock %}

