{% extends "ssg.html" %}
{% block content %}
<h1  style="text-align:  center;" >Projects</h1>
{% for app in apps %}
<a href="/apps/{{app['url']}}">
	<div class="app border rounded">
		<div class="app_details">
			<h2>{{app['name']}}</h2>
			<p>{{app['description']}}</p>
		</div>
		<div class="crop-height" style="background-image: url(/static/{{app['url']}}1.png); background-position: center;"></div>
		<div class="crop-height second" style="background-image: url(/static/{{app['url']}}2.png); background-position: center;"></div>
	</div>
</a>
{% endfor %}
{% endblock %}
