{% extends "ssg.html" %}
{% block content %}
<div class="narrow-content">
	<h1 style="text-align:  center;" >{{content['title']}}</h1>
	<hr/>
	<img class="header" src="/blog/cover/{{content['cover']}}" align="middle" title="{{content['cover_text']}}"/>
	<p>{{content['content']}}</p>
	<table class="table tbl-default">
		<tr>
			<td>Writen by: {{content['author']}}
			</td>
			<td style="text-align:right;">Date: {{content['date']}}
			</td>
		</tr>
	</table>
	<div>Tags: 
	{% for tag in content['tags'] %}
		<a class="btn btn-info" href="/blog/tags/{{tag}}">{{tag}}</a>
	{% endfor %}
	</div>
</div>
{% endblock %}
