{% extends "ssg.html" %}
{% block content %}
<div class="narrow-content">
	<h1>Studio Sleepy Giraffe</h1>
	<p>Where the wizard fall asleep standing up.</p><br/>
	<p>This is my personal website for sharing my work with friends, family, and potential employeers. To see what projects I have been working on click on the "Projects" tab in the nav bar. To read my mind (see what I was thinking as I worked on the various projects) go to the "Dev Log" page and select a project to read all of the development log for that project.
	</p>
</div>
{% endblock %}

