<html>
	<Title>Toben Archer</title>
	<h1>Toben Archer</h1>
	<hr/>
	<p>210 S. Plum Main St.</p>
	<p>Vermillion, SD 57069</p>
	<p>eMail: Toben.Archer@gmail.com</p>
	<p>Phone: 605-937-6985</p>
	<hr/><br/>
	<h2>Employment</h2>
	<hr/>
	{% for job in resume['employment'] %}
	<h3>{{job['title']}}</h3>
	<table style="width:100%;">
		<tr>
			<td>{{job['org']}}</td>
			<td style="text-align:right;">{{job['dates']}}</td>
		</tr>
	</table>
	<ul>
		{% for resp in job['responsibilities'] %}
		<li>{{resp}}</li>
		{% endfor %}
	</ul>
	<br/>
	{% endfor %}
	<h2>Education</h2>
	<hr/>
	<table style="width:100%;">
		<tr>
			<td>Bachelor of Arts, Computer Science</td>
			<td style="text-align:right;">Class of 2013</td>
		</tr>
		<tr>
			<td>Northwestern College, Orange City IA.</td>
		</tr>
		<tr>
			<td>Major: Computer Science</td>
		</tr>
	</table>
	<br/>
	<h2>Skills and Abilities</h2>
	<hr/>
	{% for skill_set in resume['skills'] %}
	<h3>{{skill_set['title']}}</h3>
	<ul>
		{% for skill in skill_set['content'] %}
		<li>{{skill}}</li>
		{% endfor %}
	</ul>
	{% endfor %}
	
	<br/>
	<h2>Volunteering</h2>
	<hr/>
	<ul>
	{% for action in resume['volunteering'] %}
		<li>{{action}}</li>
	{% endfor %}
	</ul>
	<br/>
</html>

